.locCard {
   max-width: 400px;
   min-width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2em auto;
    padding: 2em;
    /* border: 2px solid rgb(177, 169, 169); */
    border-radius: 100px;
    background-color: rgb(234, 250, 234);
    text-align: center;
    overflow: hidden;
 }

 .locCard .title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
 }


 .locCard span {
   text-align: center;
   margin: 0.5em auto;
 }

 .map {
    max-width: 400px;
    width: 90%;
    height: 200px;
    margin: 0.5em auto;
    overflow: hidden;
 }


 
